.ad-container {
  background: white;
  padding: 10px;
  margin: 10px;
  width: 200px;
}
.contain {
  display: flex;
  width: 100%;
  padding: 25px;
  background: #e5faf8;
}
h4 {
  color: #00b39b;
}
.ads {
  width: 50%;
  margin-left: 50%;
  display: flex;
  flex-wrap: wrap;
}
.doc-img {
  width: 10%;
}
.doc-img h2 {
  margin-left: 20px;
  width: 150px;
  color: #00b39b;
}
.doc-img p {
  margin-left: 20px;
  width: 150px;
}
@media (min-width: 768px) {
  .doc-img p {
    text-align: left;
    margin-left: 120px;
    width: 350px;
  }
  .doc-img h2 {
    text-align: left;
    margin-left: 120px;
    width: 500px;
    color: #00b39b;
  }
}
