.offices-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
.bar {
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.card {
  padding: 10px;
  border-radius: 5px;
}
.stat-text {
  color: rgb(10, 173, 146);
  font-size: 30px;
  margin: 0;
}
.p1 {
  margin: 20px;
  padding-top: 30px;
}
.stat-text2 {
  margin: 0;
}
.p2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
